.top-buttons {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.top-button {
  margin: 0.5rem;
}
.ugly-button {
  background-color: black;
  color: whitesmoke;
  border: none;
  margin: 8px;
}
