.input {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: center;
  max-width: 20rem;
}

.notes {
  display: flex;
  flex-flow: row wrap;
  vertical-align: middle;
  width: 7rem;
  justify-content: space-evenly;
}
.arrows {
  display: flex;
  flex-flow: column;
  vertical-align: middle;
  width: 2.5;
  justify-content: space-around;
}
.signs {
  display: flex;
  flex-flow: row wrap;
  vertical-align: middle;
  width: 7rem;
  justify-content: space-evenly;
}
.rest {
  display: flex;
  flex-flow: column;
  vertical-align: middle;
  width: fit-content;
  justify-content: space-evenly;
}

.symbol {
  border: 0.5px solid lightgrey;
  border-radius: 5px;
  padding: 0;
  background-color: whitesmoke;
  line-height: 2.1em;
  overflow: hidden;
  margin: 0.1rem 0 0.1rem 0;
  cursor: pointer;
  width: 2.9rem;
  height: 4rem;
  background-color: black;
  color: whitesmoke;
  border: none;
}
.notes .symbol {
  line-height: 2.3em;
}
.signs .symbol {
  line-height: 1.7em;
}
.arrow {
  line-height: 2.2em;
}
.arrows .symbol {
  line-height: 1.25em;
}

button {
  padding: 0.5em;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 0.5px solid lightgrey;
  cursor: pointer;
  font-size: medium;
}

#abc {
  display: none;
}
.abc {
  display: none;
}
.abcjs-staff {
  justify-content: left;
}
.abcjs-l0 {
  align-self: flex-start;
}
